<%= simple_form_for @article do |f| %>
  <ul>
  <% @article.errors.full_messages.each do |error| %>
    <li><%= error %></li>
      <% end %>
  </ul>
  <p>
    <%= f.input :title %>
  </p>
  <p>
    <%= f.input :body %>
  </p>
  <p>
    <%= f.input :tag_list, label: 'Tags', placeholder: 'Add your Tags' %>
  </p>
  <p>
    <%= f.button :submit %>
  </p>
<% end %>
